fastapi
uvicorn[standard]
gunicorn
pydantic
pydantic-settings
python-dotenv

scikit-learn
lightgbm
xgboost
imbalanced-learn
shap
joblib
numpy
pandas
scipy

nltk

aiofiles
python-multipart

matplotlib
seaborn
